Repository o3osatoshi/portfolio: changes, and which Codecov flags are due for each by the changed paths.
All: application, auth, domain, interface, prisma, toolkit, ui, eth, web, storybook, @repo/application, @repo/auth, @repo/domain, @repo/interface, @repo/prisma, @o3osatoshi/toolkit, @o3osatoshi/ui, @repo/eth, apps/web, apps/storybook

feat(cli): validate tx command arguments with zod
  packages/cli/e2e/cli.e2e.spec.ts
  packages/cli/src/commands/tx/commands.spec.ts
  packages/cli/src/commands/tx/create.ts
  packages/cli/src/commands/tx/delete.ts
  packages/cli/src/commands/tx/update.ts
Due: none

refactor(cli): unify zod parsing in config auth and token store
  packages/cli/src/lib/config.spec.ts
  packages/cli/src/lib/config.ts
  packages/cli/src/lib/oidc.spec.ts
  packages/cli/src/lib/oidc.ts
  packages/cli/src/lib/token-store.spec.ts
  packages/cli/src/lib/token-store.ts
Due: none

refactor(cli): extract api response schemas
  packages/cli/src/lib/api-client.ts
  packages/cli/src/lib/schemas/api.ts
Due: none

fix(cli): normalize env-file values and retry keychain init
  packages/cli/src/bin.spec.ts
  packages/cli/src/bin.ts
  packages/cli/src/services/auth/token-store.service.spec.ts
  packages/cli/src/services/auth/token-store.service.ts
Due: none

fix(cli): sort token-store spec object keys
  packages/cli/src/services/auth/token-store.service.spec.ts
Due: none

fix(cli): keep pkce primary errors and clean e2e types
  packages/cli/e2e/cli.e2e.spec.ts
  packages/cli/src/services/auth/oidc.service.ts
Due: none

fix(cli): avoid throw in pkce finally cleanup
  packages/cli/src/services/auth/oidc.service.ts
Due: none

refactor(cli): rename e2e suite and script to int
  packages/cli/README.md
  packages/cli/int/cli.int.spec.ts
  packages/cli/int/helpers/mock-api-server.ts
  packages/cli/int/helpers/mock-oidc-server.ts
  packages/cli/int/helpers/run-cli.ts
  packages/cli/package.json
  packages/cli/vitest.int.config.ts
Due: none

refactor(cli): align naming with auth and domain conventions
  packages/cli/src/bin.ts
  packages/cli/src/commands/auth/commands.spec.ts
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/whoami.ts
  packages/cli/src/commands/tx/create.ts
  packages/cli/src/commands/tx/update.ts
  packages/cli/src/common/http/authenticated-api-request.ts
  packages/cli/src/common/runtime-config-defaults.ts
  packages/cli/src/common/runtime-config.ts
  packages/cli/src/common/types.ts
  packages/cli/src/services/auth/contracts/principal.schema.ts
  packages/cli/src/services/auth/oidc.service.spec.ts
  packages/cli/src/services/auth/oidc.service.ts
  packages/cli/src/services/auth/principal-api.service.spec.ts
  packages/cli/src/services/auth/principal-api.service.ts
  packages/cli/src/services/auth/token-store.service.ts
Due: none

fix(cli): resolve remaining review comments
  packages/cli/src/bin.spec.ts
  packages/cli/src/bin.ts
  packages/cli/src/common/error-catalog.ts
  packages/cli/src/services/auth/token-store.service.spec.ts
  packages/cli/src/services/auth/token-store.service.ts
Due: none

fix(cli): satisfy token-store lint ordering
  packages/cli/src/services/auth/token-store.service.ts
Due: none

refactor(toolkit): simplify zod validation handling
  packages/toolkit/etc/toolkit.api.md
  packages/toolkit/src/zod/zod-error.spec.ts
  packages/toolkit/src/zod/zod-error.ts
  packages/toolkit/src/zod/zod-parse.spec.ts
  packages/toolkit/src/zod/zod-parse.ts
Due: toolkit, @o3osatoshi/toolkit

refactor(cli): simplify validation issue diagnostics
  packages/cli/src/bin.spec.ts
  packages/cli/src/common/error-message.spec.ts
  packages/cli/src/common/error-message.ts
  packages/cli/src/common/output.spec.ts
  packages/cli/src/common/zod-validation.spec.ts
  packages/cli/src/common/zod-validation.ts
Due: none

refactor(cli): remove hello command
  packages/cli/README.md
  packages/cli/int/cli.int.spec.ts
  packages/cli/src/bin.spec.ts
  packages/cli/src/bin.ts
  packages/cli/src/commands/hello.spec.ts
  packages/cli/src/commands/hello.ts
Due: none

feat(toolkit): add object guards and typed omitUndefined
  packages/toolkit/etc/toolkit.api.md
  packages/toolkit/src/error/error-serializer.spec.ts
  packages/toolkit/src/error/error-serializer.ts
  packages/toolkit/src/index.ts
  packages/toolkit/src/object-guards.spec.ts
  packages/toolkit/src/object-guards.ts
  packages/toolkit/src/omit-undefined.spec.ts
  packages/toolkit/src/omit-undefined.ts
  packages/toolkit/src/zod/zod-error.spec.ts
  packages/toolkit/src/zod/zod-error.ts
Due: toolkit, @o3osatoshi/toolkit

refactor(monorepo): use omitUndefined for optional fields
  apps/web/src/utils/next-fetch.ts
  packages/cli/src/commands/tx/create.ts
  packages/cli/src/commands/tx/update.ts
  packages/cli/src/common/http/authenticated-api-request.ts
  packages/cli/src/services/auth/oidc.service.ts
  packages/cli/src/services/auth/token-store.service.ts
  packages/domain/src/entities/transaction.ts
  packages/integrations/src/http/base-fetch.ts
  packages/integrations/src/upstash/redis.ts
Due: domain, web, @repo/domain, apps/web

refactor(monorepo): adopt shared isRecord guard
  packages/auth/src/hono-auth/jwt.ts
  packages/cli/src/common/zod-validation.ts
  packages/integrations/src/http/with-retry.ts
  packages/logging/src/nextjs-shared.ts
  packages/logging/src/nextjs.ts
  packages/prisma/src/prisma-error.ts
Due: auth, prisma, @repo/auth, @repo/prisma

refactor(cli): centralize runtime env resolution
  packages/cli/README.md
  packages/cli/src/bin.spec.ts
  packages/cli/src/bin.ts
  packages/cli/src/common/runtime-config.spec.ts
  packages/cli/src/common/runtime-config.ts
  packages/cli/src/common/runtime-env.spec.ts
  packages/cli/src/common/runtime-env.ts
  packages/cli/src/services/auth/token-store.service.spec.ts
  packages/cli/src/services/auth/token-store.service.ts
Due: none

refactor(cli): remove custom result adapter
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/logout.ts
  packages/cli/src/common/http/authenticated-api-request.ts
  packages/cli/src/common/result.ts
  packages/cli/src/services/auth/principal-api.service.ts
  packages/cli/src/services/tx/transaction-api.service.ts
Due: none

refactor(toolkit): rename parseWith to makeSchemaParser
  docs/api/@o3osatoshi/toolkit/README.md
  docs/api/@o3osatoshi/toolkit/functions/makeSchemaParser.md
  packages/toolkit/README.md
  packages/toolkit/etc/toolkit.api.md
  packages/toolkit/src/zod/zod-error.spec.ts
  packages/toolkit/src/zod/zod-parse.spec.ts
  packages/toolkit/src/zod/zod-parse.ts
Due: toolkit, @o3osatoshi/toolkit

refactor: migrate call sites to makeSchemaParser
  apps/web/src/utils/validation.spec.ts
  docs/api/@repo/application/variables/parseCreateTransactionRequest.md
  packages/application/src/dtos/fx-quote.req.dto.ts
  packages/application/src/dtos/heavy-process.res.dto.spec.ts
  packages/application/src/dtos/transaction.req.dto.ts
  packages/cli/src/common/zod-validation.ts
  packages/cli/src/services/auth/principal-api.service.ts
  packages/cli/src/services/tx/transaction-api.service.ts
  packages/integrations/src/http/smart-fetch.ts
  packages/integrations/src/slack/client.ts
  packages/interface/src/http/edge/app.ts
Due: application, interface, web, @repo/application, @repo/interface, apps/web

refactor(cli): rename parseCliWithSchema to makeCliSchemaParser
  packages/cli/src/commands/tx/create.ts
  packages/cli/src/commands/tx/delete.ts
  packages/cli/src/commands/tx/update.ts
  packages/cli/src/common/runtime-env.ts
  packages/cli/src/common/zod-validation.spec.ts
  packages/cli/src/common/zod-validation.ts
  packages/cli/src/services/auth/oidc.service.ts
  packages/cli/src/services/auth/token-store.service.ts
Due: none

refactor(cli): use runtime-env directly and remove runtime-config
  packages/cli/src/commands/auth/commands.spec.ts
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/logout.ts
  packages/cli/src/common/http/authenticated-api-request.spec.ts
  packages/cli/src/common/http/authenticated-api-request.ts
  packages/cli/src/common/runtime-config.spec.ts
  packages/cli/src/common/runtime-config.ts
  packages/cli/src/common/runtime-env.spec.ts
  packages/cli/src/common/runtime-env.ts
  packages/cli/src/services/auth/token-store.service.ts
Due: none

refactor(cli): derive common types from zod schemas
  packages/cli/src/common/http/authenticated-api-request.ts
  packages/cli/src/common/runtime-config-defaults.ts
  packages/cli/src/common/runtime-env.spec.ts
  packages/cli/src/common/runtime-env.ts
  packages/cli/src/common/types.ts
  packages/cli/src/services/auth/oidc.service.spec.ts
  packages/cli/src/services/auth/oidc.service.ts
  packages/cli/src/services/auth/token-store.service.ts
Due: none

refactor(cli): rename runtime env oidc field to oidcConfig
  packages/cli/src/commands/auth/commands.spec.ts
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/logout.ts
  packages/cli/src/common/http/authenticated-api-request.spec.ts
  packages/cli/src/common/http/authenticated-api-request.ts
  packages/cli/src/common/runtime-config-defaults.ts
  packages/cli/src/common/runtime-env.ts
  packages/cli/src/common/types.ts
  packages/cli/src/services/auth/oidc.service.spec.ts
  packages/cli/src/services/auth/oidc.service.ts
Due: none

refactor(cli): rename oidc login functions
  packages/cli/src/commands/auth/commands.spec.ts
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/services/auth/oidc.service.spec.ts
  packages/cli/src/services/auth/oidc.service.ts
Due: none

refactor(cli): use switch for oidc login mode dispatch
  packages/cli/src/services/auth/oidc.service.ts
Due: none

refactor(cli): apply ResultAsync flow to oidc auth service
  packages/cli/src/services/auth/oidc.service.ts
Due: none

refactor(json): consolidate encoding on json-codec
  packages/cli/int/helpers/mock-api-server.ts
  packages/cli/int/helpers/mock-oidc-server.ts
  packages/cli/src/commands/auth/whoami.ts
  packages/cli/src/commands/tx/create.ts
  packages/cli/src/common/output.ts
  packages/cli/src/services/auth/token-store.service.ts
  packages/cli/src/services/tx/transaction-api.service.ts
  packages/integrations/src/slack/client.ts
  packages/interface/src/http/node/adapter-express.ts
  packages/logging/src/proxy.ts
  packages/toolkit/etc/toolkit.api.md
  packages/toolkit/src/error/error-attributes.ts
  packages/toolkit/src/http/http-utils.ts
  packages/toolkit/src/json-codec.spec.ts
  packages/toolkit/src/json-codec.ts
Due: interface, toolkit, @repo/interface, @o3osatoshi/toolkit

refactor(cli): remove redundant toRichError calls
  packages/cli/src/common/output.ts
  packages/cli/src/services/auth/token-store.service.ts
  packages/cli/src/services/tx/transaction-api.service.ts
Due: none

refactor(cli): use switch for output mode handling
  packages/cli/src/bin.ts
  packages/cli/src/common/output.spec.ts
  packages/cli/src/common/output.ts
Due: none

refactor(cli): use omitUndefined in output payloads
  packages/cli/src/common/output.ts
Due: none

refactor(cli): rename output json types
  packages/cli/src/common/output.ts
Due: none

refactor(cli): align validation issue types with toolkit
  packages/cli/src/common/error-message.ts
  packages/cli/src/common/zod-validation.spec.ts
  packages/cli/src/common/zod-validation.ts
Due: none

refactor(validation): move issue extraction into toolkit
  packages/cli/src/common/error-message.spec.ts
  packages/cli/src/common/error-message.ts
  packages/cli/src/common/output.ts
  packages/cli/src/common/zod-validation.spec.ts
  packages/cli/src/common/zod-validation.ts
  packages/toolkit/etc/toolkit.api.md
  packages/toolkit/src/zod/zod-error.spec.ts
  packages/toolkit/src/zod/zod-error.ts
Due: toolkit, @o3osatoshi/toolkit

refactor(cli): simplify output naming
  packages/cli/src/common/error-message.ts
  packages/cli/src/common/output.spec.ts
  packages/cli/src/common/output.ts
Due: none

refactor(toolkit): move validation issue extractor near types
  packages/toolkit/src/zod/zod-error.ts
Due: toolkit, @o3osatoshi/toolkit

refactor(result): use tee for side effects
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/logout.ts
  packages/cli/src/commands/auth/whoami.ts
  packages/cli/src/commands/tx/create.ts
  packages/cli/src/commands/tx/delete.ts
  packages/cli/src/commands/tx/list.ts
  packages/cli/src/commands/tx/update.ts
  packages/integrations/src/http/with-logging.ts
Due: none

refactor(result): simplify sync fallbacks in async flows
  apps/web/src/server/auth.ts
  apps/web/src/server/get-transactions.ts
  packages/application/src/use-cases/toolkit/heavy-process-cached.ts
  packages/cli/src/common/http/authenticated-api-request.ts
  packages/cli/src/services/auth/oidc.service.ts
  packages/integrations/src/http/with-cache.ts
  packages/interface/src/http/node/routes/cli.ts
Due: application, interface, web, @repo/application, @repo/interface, apps/web

Path conditions:
  application: any of: packages/application/**, but not: apps/functions/**
  auth: any of: packages/auth/**, but not: apps/functions/**
  domain: any of: packages/domain/**, but not: apps/functions/**
  interface: any of: packages/interface/**, but not: apps/functions/**
  prisma: any of: packages/prisma/**, but not: apps/functions/**
  toolkit: any of: packages/toolkit/**, but not: apps/functions/**
  ui: any of: packages/ui/**, but not: apps/functions/**
  eth: any of: packages/eth/**, but not: apps/functions/**
  web: any of: apps/web/**, but not: apps/functions/**
  storybook: any of: apps/storybook/**, but not: apps/functions/**
  @repo/application: any of: packages/application/**, but not: apps/functions/**
  @repo/auth: any of: packages/auth/**, but not: apps/functions/**
  @repo/domain: any of: packages/domain/**, but not: apps/functions/**
  @repo/interface: any of: packages/interface/**, but not: apps/functions/**
  @repo/prisma: any of: packages/prisma/**, but not: apps/functions/**
  @o3osatoshi/toolkit: any of: packages/toolkit/**, but not: apps/functions/**
  @o3osatoshi/ui: any of: packages/ui/**, but not: apps/functions/**
  @repo/eth: any of: packages/eth/**, but not: apps/functions/**
  apps/web: any of: apps/web/**, but not: apps/functions/**
  apps/storybook: any of: apps/storybook/**, but not: apps/functions/**
