Repository o3osatoshi/portfolio: changes, and which Codecov flags are due for each by the changed paths.
All: application, auth, domain, interface, prisma, toolkit, ui, eth, web, storybook, @repo/application, @repo/auth, @repo/domain, @repo/interface, @repo/prisma, @o3osatoshi/toolkit, @o3osatoshi/ui, @repo/eth, apps/web, apps/storybook

fix(interface): sort CLI error catalog keys
  packages/interface/src/http/node/routes/cli-error-catalog.ts
Due: interface, @repo/interface

fix(interface): format CLI route /v1/me handler
  packages/interface/src/http/node/routes/cli.ts
Due: interface, @repo/interface

feat(interface): validate cli transaction bodies with zValidator
  packages/interface/src/http/node/app.spec.ts
  packages/interface/src/http/node/routes/cli.ts
Due: interface, @repo/interface

chore(prisma): annotate adapter export barrel
  packages/prisma/src/adapters/index.ts
Due: prisma, @repo/prisma

refactor(interface): make CLI scope check synchronous
  packages/interface/src/http/node/routes/cli.ts
Due: interface, @repo/interface

fix(integrations): validate oidc userinfo subject and email
  packages/integrations/src/auth/oidc-user-info.ts
Due: none

refactor(web): inline access token principal resolver into route
  apps/web/src/app/api/[...route]/route.ts
  apps/web/src/server/resolve-access-token-principal.ts
Due: web, apps/web

chore(auth): simplify oidc user info payload mapping
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/integrations/src/auth/oidc-user-info.ts
  packages/interface/src/http/node/app.spec.ts
Due: auth, interface, @repo/auth, @repo/interface

chore(integrations): align exported module placement
  packages/integrations/src/index.ts
Due: none

refactor(logging): centralize request error attribute enrichment
  packages/interface/src/http/core/emit-request.ts
  packages/logging/src/core/error-attributes.spec.ts
  packages/logging/src/core/error-attributes.ts
  packages/logging/src/index.ts
Due: interface, @repo/interface

refactor(auth): centralize bearer and scope checks
  packages/auth/src/auth-error-catalog.ts
  packages/auth/src/hono-auth/access-token-guard.ts
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/index.ts
  packages/interface/src/http/node/routes/cli-error-catalog.ts
  packages/interface/src/http/node/routes/cli.ts
Due: auth, interface, @repo/auth, @repo/interface

refactor(interface): reuse shared response helper in cli
  packages/interface/src/http/core/emit-request.ts
  packages/interface/src/http/node/routes/cli.ts
Due: interface, @repo/interface

refactor(auth): export access-token helpers separately
  packages/auth/src/hono-auth/access-token-guard.ts
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/index.ts
Due: auth, @repo/auth

refactor(logging): expose error attribute helper from root
  packages/logging/etc/logging.api.md
  packages/logging/src/core/error-attributes.spec.ts
  packages/logging/src/index.ts
Due: none

fix(auth): map oidc userinfo integration errors
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/access-token-principal.ts
Due: auth, @repo/auth

ci: migrate workflows to oidc auth secrets
  .github/workflows/deploy-functions.yml
  .github/workflows/release-packages.yml
Due: none

fix(logging): mark appendErrorAttributes as public for API check
  packages/logging/etc/logging.api.md
  packages/logging/src/core/error-attributes.ts
Due: none

refactor(auth): simplify extractBearerToken without options
  packages/auth/src/hono-auth/access-token-guard.ts
Due: auth, @repo/auth

refactor(auth): remove optional requireScope customization options
  packages/auth/src/hono-auth/access-token-guard.ts
Due: auth, @repo/auth

refactor(auth): inline fixed auth scope reason constants
  packages/auth/src/hono-auth/access-token-guard.ts
Due: auth, @repo/auth

fix: address remaining review comments
  packages/integrations/src/auth/oidc-user-info.ts
  packages/logging/src/core/error-attributes.ts
Due: none

refactor(auth): remove OIDC userinfo error remapping
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/access-token-principal.ts
Due: auth, @repo/auth

feat(toolkit): add trimTrailingSlash utility
  packages/toolkit/etc/toolkit.api.md
  packages/toolkit/src/index.ts
  packages/toolkit/src/trim-trailing-slash.spec.ts
  packages/toolkit/src/trim-trailing-slash.ts
Due: toolkit, @o3osatoshi/toolkit

refactor(auth): use shared trimTrailingSlash
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/auth/src/hono-auth/oidc-access-token.ts
  packages/integrations/src/auth/oidc-user-info.ts
Due: auth, @repo/auth

refactor(integrations): simplify oidc userinfo fetch action constants
  packages/integrations/src/auth/oidc-user-info.ts
Due: none

refactor(auth): rename requireScope to authorizeScope
  packages/auth/src/hono-auth/access-token-guard.ts
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/interface/src/http/node/routes/cli.ts
Due: auth, interface, @repo/auth, @repo/interface

test(auth,interface): cover oidc and cli edge cases
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/oidc-access-token.spec.ts
  packages/integrations/src/auth/oidc-user-info.spec.ts
  packages/interface/src/http/node/app.spec.ts
Due: auth, interface, @repo/auth, @repo/interface

fix oidc userinfo fetch decode ordering and scope docs
  packages/auth/src/hono-auth/access-token-guard.ts
  packages/integrations/src/auth/oidc-user-info.ts
Due: auth, @repo/auth

revert(integrations): restore pre-parse fetch status check for userinfo
  packages/integrations/src/auth/oidc-user-info.ts
Due: none

fix(integrations): re-export upstash rate-limit at package root
  packages/integrations/src/index.ts
  packages/integrations/src/integration-error-catalog.ts
  packages/integrations/src/upstash/index.ts
Due: none

chore(test): remove obsolete resolve-cli-principal spec
  apps/web/src/server/resolve-cli-principal.spec.ts
Due: web, apps/web

refactor(functions): adjust cache and repository initialization
  apps/functions/src/index.ts
Due: none

refactor(auth): inject external identity resolver object
  apps/functions/src/index.ts
  apps/web/src/app/api/[...route]/route.ts
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/interface/src/http/node/app.ts
Due: auth, interface, web, @repo/auth, @repo/interface, apps/web

fix(rate-limit): address PR review feedback
  apps/functions/src/env.ts
  packages/integrations/src/upstash/rate-limit.spec.ts
  packages/integrations/src/upstash/rate-limit.ts
  packages/interface/src/http/node/app.spec.ts
  packages/toolkit/src/rate-limit/index.spec.ts
  packages/toolkit/src/rate-limit/index.ts
Due: interface, toolkit, @repo/interface, @o3osatoshi/toolkit

refactor(rate-limit): improve limiter naming and readability
  packages/integrations/src/upstash/rate-limit.ts
  packages/toolkit/src/rate-limit/index.ts
Due: toolkit, @o3osatoshi/toolkit

refactor(toolkit): flatten rate-limit module paths
  packages/toolkit/src/rate-limit.spec.ts
  packages/toolkit/src/rate-limit.ts
Due: toolkit, @o3osatoshi/toolkit

feat(auth): wire identity provisioning rate limits in app composition
  apps/functions/src/env.ts
  apps/functions/src/index.ts
  apps/web/src/app/api/[...route]/route.ts
  packages/interface/src/http/node/app.spec.ts
Due: interface, web, @repo/interface, apps/web

test(toolkit): cover whitespace-only rate-limit identifiers
  packages/toolkit/src/rate-limit.spec.ts
Due: toolkit, @o3osatoshi/toolkit

docs(integrations): fix upstash rate-limit import guidance
  packages/integrations/src/upstash/index.ts
Due: none

Path conditions:
  application: any of: packages/application/**, but not: apps/functions/**
  auth: any of: packages/auth/**, but not: apps/functions/**
  domain: any of: packages/domain/**, but not: apps/functions/**
  interface: any of: packages/interface/**, but not: apps/functions/**
  prisma: any of: packages/prisma/**, but not: apps/functions/**
  toolkit: any of: packages/toolkit/**, but not: apps/functions/**
  ui: any of: packages/ui/**, but not: apps/functions/**
  eth: any of: packages/eth/**, but not: apps/functions/**
  web: any of: apps/web/**, but not: apps/functions/**
  storybook: any of: apps/storybook/**, but not: apps/functions/**
  @repo/application: any of: packages/application/**, but not: apps/functions/**
  @repo/auth: any of: packages/auth/**, but not: apps/functions/**
  @repo/domain: any of: packages/domain/**, but not: apps/functions/**
  @repo/interface: any of: packages/interface/**, but not: apps/functions/**
  @repo/prisma: any of: packages/prisma/**, but not: apps/functions/**
  @o3osatoshi/toolkit: any of: packages/toolkit/**, but not: apps/functions/**
  @o3osatoshi/ui: any of: packages/ui/**, but not: apps/functions/**
  @repo/eth: any of: packages/eth/**, but not: apps/functions/**
  apps/web: any of: apps/web/**, but not: apps/functions/**
  apps/storybook: any of: apps/storybook/**, but not: apps/functions/**
