Repository o3osatoshi/portfolio: changes, and which Codecov flags are due for each by the changed paths.
All: application, auth, domain, interface, prisma, toolkit, ui, eth, web, storybook, @repo/application, @repo/auth, @repo/domain, @repo/interface, @repo/prisma, @o3osatoshi/toolkit, @o3osatoshi/ui, @repo/eth, apps/web, apps/storybook

chore(lockfile): sync auth dependencies
  pnpm-lock.yaml
Due: none

chore(env): validate oidc issuer url
  apps/functions/src/env.ts
  apps/web/src/env/server.ts
Due: web, apps/web

fix(prisma): retry identity lookup on unique conflicts
  packages/prisma/src/adapters/prisma-user-identity.store.spec.ts
  packages/prisma/src/adapters/prisma-user-identity.store.ts
Due: prisma, @repo/prisma

docs(auth): clarify oidc migration and resolver setup
  README.md
  packages/auth/README.md
  packages/auth/src/hono-auth/index.ts
  packages/auth/src/next-auth/config.ts
Due: auth, @repo/auth

docs(prisma): clarify adapters index comment
  packages/prisma/src/adapters/index.ts
Due: prisma, @repo/prisma

refactor(identity): align resolver with domain UserId
  packages/auth/package.json
  packages/auth/src/hono-auth/cli-principal.spec.ts
  packages/auth/src/hono-auth/cli-principal.ts
  packages/domain/src/ports/index.ts
  packages/domain/src/ports/user-identity.resolver.ts
  packages/interface/src/http/node/app.spec.ts
  packages/prisma/src/adapters/prisma-user-identity.store.spec.ts
  packages/prisma/src/adapters/prisma-user-identity.store.ts
  pnpm-lock.yaml
Due: auth, domain, interface, prisma, @repo/auth, @repo/domain, @repo/interface, @repo/prisma

refactor(auth): rename user identity resolver contract
  apps/functions/src/index.ts
  apps/web/src/server/resolve-cli-principal.ts
  packages/auth/README.md
  packages/auth/src/hono-auth/cli-principal.ts
  packages/domain/src/ports/user-identity.resolver.ts
  packages/prisma/src/adapters/prisma-user-identity.store.spec.ts
  packages/prisma/src/adapters/prisma-user-identity.store.ts
Due: auth, domain, prisma, web, @repo/auth, @repo/domain, @repo/prisma, apps/web

refactor(prisma): rename user identity mapping to external identity
  README.md
  apps/functions/src/index.ts
  apps/web/src/server/resolve-cli-principal.ts
  packages/auth/README.md
  packages/prisma/schema/models/external-identities.prisma
  packages/prisma/schema/models/users.prisma
  packages/prisma/src/adapters/index.ts
  packages/prisma/src/adapters/prisma-external-identity.store.spec.ts
  packages/prisma/src/adapters/prisma-external-identity.store.ts
Due: auth, prisma, web, @repo/auth, @repo/prisma, apps/web

refactor(auth): align identity resolver APIs with external identity
  apps/functions/src/index.ts
  apps/web/src/server/resolve-cli-principal.ts
  packages/auth/README.md
  packages/auth/src/hono-auth/cli-principal.spec.ts
  packages/auth/src/hono-auth/cli-principal.ts
  packages/domain/src/ports/external-identity.resolver.ts
  packages/domain/src/ports/index.ts
Due: auth, domain, web, @repo/auth, @repo/domain, apps/web

refactor(prisma): normalize adapter file names
  packages/prisma/src/adapters/external-identity.store.spec.ts
  packages/prisma/src/adapters/external-identity.store.ts
  packages/prisma/src/adapters/index.ts
  packages/prisma/src/adapters/transaction.repository.spec.ts
  packages/prisma/src/adapters/transaction.repository.ts
Due: prisma, @repo/prisma

refactor(auth): rename external identity claim type
  packages/auth/src/hono-auth/cli-principal.spec.ts
  packages/domain/src/ports/external-identity.resolver.ts
  packages/domain/src/ports/index.ts
  packages/prisma/src/adapters/external-identity.store.ts
Due: auth, domain, prisma, @repo/auth, @repo/domain, @repo/prisma

fix(auth): dedupe cli principal input type and validate jwt issuer
  packages/auth/src/hono-auth/oidc-bearer.spec.ts
  packages/auth/src/hono-auth/oidc-bearer.ts
  packages/interface/src/http/node/app.ts
Due: auth, interface, @repo/auth, @repo/interface

test(node): cover malformed cli bearer tokens
  packages/interface/src/http/node/app.spec.ts
Due: interface, @repo/interface

fix(lint): sort jwt verify options and import names
  packages/auth/src/hono-auth/oidc-bearer.ts
  packages/interface/src/http/node/app.ts
Due: auth, interface, @repo/auth, @repo/interface

refactor(interface): split node app routes into modules
  packages/interface/src/http/node/app.ts
  packages/interface/src/http/node/routes/cli.ts
  packages/interface/src/http/node/routes/private.ts
  packages/interface/src/http/node/routes/public.ts
Due: interface, @repo/interface

refactor(interface): reuse node handler for each method
  packages/interface/src/http/node/app.ts
Due: interface, @repo/interface

style(interface): format node app imports and handlers
  packages/interface/src/http/node/app.ts
  packages/interface/src/http/node/routes/cli.ts
Due: interface, @repo/interface

refactor(auth): simplify oidc env variable names
  packages/auth/src/next-auth/config.ts
Due: auth, @repo/auth

refactor(auth): rename cli principal to access token principal
  apps/functions/src/index.ts
  apps/web/src/app/api/[...route]/route.ts
  apps/web/src/server/resolve-access-token-principal.ts
  packages/auth/README.md
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/auth/src/hono-auth/index.ts
  packages/interface/README.md
  packages/interface/src/http/core/types.ts
  packages/interface/src/http/node/app.spec.ts
  packages/interface/src/http/node/app.ts
  packages/interface/src/http/node/routes/cli.ts
Due: auth, interface, web, @repo/auth, @repo/interface, apps/web

refactor(auth): shorten access token principal naming
  apps/functions/src/index.ts
  apps/web/src/app/api/[...route]/route.ts
  apps/web/src/server/resolve-access-token-principal.ts
  packages/auth/README.md
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/domain/src/ports/external-identity.resolver.ts
  packages/interface/README.md
  packages/interface/src/http/core/types.ts
  packages/interface/src/http/node/app.spec.ts
  packages/interface/src/http/node/app.ts
  packages/interface/src/http/node/routes/cli.ts
  packages/prisma/src/adapters/external-identity.store.spec.ts
  packages/prisma/src/adapters/external-identity.store.ts
Due: auth, domain, interface, prisma, web, @repo/auth, @repo/domain, @repo/interface, @repo/prisma, apps/web

fix(auth): validate oidc access token claims with zod
  packages/auth/src/hono-auth/oidc-bearer.ts
Due: auth, @repo/auth

refactor(auth): centralize auth error codes
  packages/auth/src/auth-error-catalog.ts
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/auth/src/hono-auth/oidc-bearer.spec.ts
  packages/auth/src/hono-auth/oidc-bearer.ts
  packages/auth/src/index.ts
  packages/interface/src/http/core/emit-request.spec.ts
  packages/interface/src/http/node/app.spec.ts
Due: auth, interface, @repo/auth, @repo/interface

refactor(auth): rename oidc cli error codes
  packages/auth/src/auth-error-catalog.ts
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/auth/src/hono-auth/oidc-bearer.spec.ts
  packages/auth/src/hono-auth/oidc-bearer.ts
  packages/interface/src/http/core/emit-request.spec.ts
  packages/interface/src/http/node/app.spec.ts
Due: auth, interface, @repo/auth, @repo/interface

refactor(auth): rename oidc access token claim type
  packages/auth/src/hono-auth/oidc-bearer.ts
Due: auth, @repo/auth

refactor(domain): rename external identity claim type
  packages/domain/src/ports/external-identity.resolver.ts
  packages/prisma/src/adapters/external-identity.store.ts
Due: domain, prisma, @repo/domain, @repo/prisma

refactor(auth): move external identity upsert into linkByVerifiedEmail
  apps/functions/src/index.ts
  apps/web/src/server/resolve-access-token-principal.ts
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/domain/src/ports/external-identity.resolver.ts
  packages/prisma/src/adapters/external-identity.store.spec.ts
  packages/prisma/src/adapters/external-identity.store.ts
Due: auth, domain, prisma, web, @repo/auth, @repo/domain, @repo/prisma, apps/web

refactor(auth): rename external identity link method
  apps/functions/src/index.ts
  apps/web/src/server/resolve-access-token-principal.ts
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/domain/src/ports/external-identity.resolver.ts
  packages/prisma/src/adapters/external-identity.store.spec.ts
  packages/prisma/src/adapters/external-identity.store.ts
Due: auth, domain, prisma, web, @repo/auth, @repo/domain, @repo/prisma, apps/web

chore(prisma): format link external identity user mapping parse
  packages/prisma/src/adapters/external-identity.store.ts
Due: prisma, @repo/prisma

refactor(auth): inline oidc access token verifier invocation
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/auth/src/hono-auth/oidc-bearer.spec.ts
  packages/auth/src/hono-auth/oidc-bearer.ts
Due: auth, @repo/auth

refactor(auth): rename oidc bearer helper to oidc access token
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/index.ts
  packages/auth/src/hono-auth/oidc-access-token.spec.ts
  packages/auth/src/hono-auth/oidc-access-token.ts
Due: auth, @repo/auth

feat(auth): extract oidc userinfo fetcher to integrations
  packages/auth/package.json
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/integrations/src/index.ts
  packages/integrations/src/oidc-user-info.spec.ts
  packages/integrations/src/oidc-user-info.ts
  pnpm-lock.yaml
Due: auth, @repo/auth

refactor(prisma): centralize external identity error codes
  packages/prisma/src/adapters/external-identity-error-catalog.ts
  packages/prisma/src/adapters/external-identity.store.spec.ts
  packages/prisma/src/adapters/external-identity.store.ts
Due: prisma, @repo/prisma

refactor(integrations): migrate oidc userinfo fetcher to smart-fetch
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/integrations/src/auth/oidc-user-info.spec.ts
  packages/integrations/src/auth/oidc-user-info.ts
  packages/integrations/src/index.ts
  packages/integrations/src/integration-error-catalog.ts
  packages/integrations/src/oidc-user-info.ts
Due: auth, @repo/auth

chore(auth): sync external identity docs and schemas
  packages/auth/README.md
  packages/integrations/src/auth/oidc-user-info.ts
  packages/interface/src/http/node/app.ts
Due: auth, interface, @repo/auth, @repo/interface

feat(integrations): simplify OIDC userinfo decoding and add cache/retry
  packages/integrations/src/auth/oidc-user-info.spec.ts
  packages/integrations/src/auth/oidc-user-info.ts
Due: none

refactor(auth): inline OIDC access-token resolver dependencies
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/auth/src/hono-auth/oidc-access-token.ts
Due: auth, @repo/auth

refactor(auth): move auth config implementation out of index
  packages/auth/src/hono-auth/auth-config.ts
  packages/auth/src/hono-auth/index.ts
Due: auth, @repo/auth

refactor(auth): restore full Principal naming
  apps/functions/src/index.ts
  apps/web/src/app/api/[...route]/route.ts
  apps/web/src/server/resolve-access-token-principal.ts
  packages/auth/README.md
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/access-token-principal.ts
  packages/interface/README.md
  packages/interface/src/http/core/types.ts
  packages/interface/src/http/node/app.spec.ts
  packages/interface/src/http/node/app.ts
  packages/interface/src/http/node/routes/cli.ts
Due: auth, interface, web, @repo/auth, @repo/interface, apps/web

fix(auth): cache remote jwk set for oidc verifier
  apps/functions/src/index.ts
  packages/auth/src/hono-auth/access-token-principal.spec.ts
  packages/auth/src/hono-auth/index.ts
  packages/auth/src/hono-auth/oidc-access-token.ts
Due: auth, @repo/auth

fix(cli/integrations): classify non-auth userinfo failures by status
  packages/integrations/src/auth/oidc-user-info.spec.ts
  packages/integrations/src/auth/oidc-user-info.ts
  packages/interface/src/http/node/app.ts
  packages/interface/src/http/node/routes/cli-error-catalog.ts
  packages/interface/src/http/node/routes/cli.ts
Due: interface, @repo/interface

Path conditions:
  application: any of: packages/application/**, but not: apps/functions/**
  auth: any of: packages/auth/**, but not: apps/functions/**
  domain: any of: packages/domain/**, but not: apps/functions/**
  interface: any of: packages/interface/**, but not: apps/functions/**
  prisma: any of: packages/prisma/**, but not: apps/functions/**
  toolkit: any of: packages/toolkit/**, but not: apps/functions/**
  ui: any of: packages/ui/**, but not: apps/functions/**
  eth: any of: packages/eth/**, but not: apps/functions/**
  web: any of: apps/web/**, but not: apps/functions/**
  storybook: any of: apps/storybook/**, but not: apps/functions/**
  @repo/application: any of: packages/application/**, but not: apps/functions/**
  @repo/auth: any of: packages/auth/**, but not: apps/functions/**
  @repo/domain: any of: packages/domain/**, but not: apps/functions/**
  @repo/interface: any of: packages/interface/**, but not: apps/functions/**
  @repo/prisma: any of: packages/prisma/**, but not: apps/functions/**
  @o3osatoshi/toolkit: any of: packages/toolkit/**, but not: apps/functions/**
  @o3osatoshi/ui: any of: packages/ui/**, but not: apps/functions/**
  @repo/eth: any of: packages/eth/**, but not: apps/functions/**
  apps/web: any of: apps/web/**, but not: apps/functions/**
  apps/storybook: any of: apps/storybook/**, but not: apps/functions/**
